<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Canes - Restaurante</title>
        <link rel="stylesheet" href="css/style.css" />
        <script src="js/jquery-3.6.3.min.js"></script>
        <link rel="icon" type="image/png" href="images/favicon.png" />
    </head>
    <body>
    <div class="container">
        <div id="mensagem"></div>
        <form id="form-login" method="POST" action="/login">
            <input type="email" name="email" id="email" />
            <input type="password" name="password" id="password" />
            <input type="submit" id="btn-login" value="Entrar" />
        </form>
    </div>
    <script src="js/script.js"></script>
    <script src="js/interceptor.js"></script>
</body>
</html>